*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.logo-ico {
    max-width: 60px;
    max-height: 60px;
    min-width: 40px ;
    min-height: 40px;
} 

.logo{
    font-weight: 400;
    margin: 10px;
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav-link{
    justify-content: space-around;
}

header {
    display: flex;
    width: 90%;
    height:20vh;
    margin: auto;
    align-items: center;
}

.logo-container,.nav-link { 
    display: flex;
    align-items: center;

}


.logo-container {
    flex: 2;

}
nav{ 
    flex: 1;

}
 